@model IEnumerable<ReversiMvcApp.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (ViewBag.ErrorMessage != null)
{
    <div>
        <h4>Game</h4>
        <hr />
        <div class="alert alert-danger">
                <p class="mb-0">Er is een fout opgetreden: @ViewBag.ErrorMessage.message</p>
            </div>
    </div>
    
    return;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-right">
                        <a asp-action="Details" asp-route-id="@item.Token" class="btn btn-success">Join</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
